@model Fron_End_Ciudad.Models.Ciudad
@{
    ViewBag.Title = "Información de la Ciudad";
}

<h2>Información Capturada de la Ciudad</h2>

<p><strong>Código de Ciudad:</strong> @Model.CodigoCiudad</p>
<p><strong>Nombre de Ciudad:</strong> @Model.NombreCiudad</p>
<p><strong>Código del Departamento:</strong> @Model.CodigoDepartamento</p>
